/* =================================
  Project-Specific Formatting
==================================== */
.outer-projects {
  display: inline-block;
  background-color: #FDB47D;
  margin: 5%;
  /* margin-bottom: 5%; */
  /* width: 75%; */
  text-align: center;
  vertical-align: top;
  border-width: 10px;
  border-style: double;
  border-color: #04387B;
  min-height: 350px;
  max-width: 300px;
}

/* I tried to crop the pics: cropping worked, but overall effect didn't */
.crop-projects {
  max-height: 250px;
  overflow: hidden;
}

.header-projects {
  vertical-align: bottom;
  text-align: center;
  margin: 5%;
}

.crop-projects img {
  width: 100%;
}


/* =================================
  Media Queries
==================================== */

/* Medium Screens */
@media ( min-width: 500px ) {

  .outer-projects {
    margin: 7%;
    max-width: 30%;
    /* width: 200px; */
  }

}

/* Larger Screens */
@media ( min-width: 1000px ) {

  .outer-projects {
    margin: 5%;
    max-width: 20%;
  }

}
