/* =================================
  Import normalize.css
	==================================== */
@import url('http://necolas.github.io/normalize.css/3.0.2/normalize.css');

/* =================================
  Imported Fonts
==================================== */
@font-face {
  font-family: 'CelticHand';
  src: url('fonts/CelticHand.ttf');
}

/* =================================
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

p {
  font-size: 16px;
}

a {
  color: FloralWhite;
  font-weight: bold;
  text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ----
	-	menus, nav bars*/
/* menu {
  display: inline;
  vertical-align: middle;
} */

h1.name,
menu {
  display: inline;
  vertical-align: middle;
}

.name {
  font-size: 1.25em;
}

.name a,
.main-nav a {
	text-align: center;
}

.main-nav {
	text-align: right;
  color: FloralWhite;
  list-style-type: none;
}

.main-nav li {
  display: inline;
  padding: 1em;
  text-transform: uppercase;
}

.main-nav a:hover {
	color: FloralWhite;
}

/* ---- Layout Containers ----
	-	header, footer, content divs	*/
header {
  /* background: #A5B1B5; */
  /* background: #2380D1; */
	background: linear-gradient(#04387B, #A5B1B5);
	color: FloralWhite;
	/* color: DarkTurquoise;
	color: SpringGreen; */
	padding: .5em;
}

main {
	font-family: CelticHand, Garamond, serif;
	font-size: 2em;
  opacity: 1;
}

footer {
  background: linear-gradient(to top, #2380D1, #FFBF89);
	/* background: #2380D1; */
	color: FloralWhite;
	padding: .5em;
	text-align: center;
  /* position: absolute;
  top: 90%; */
}

#AllContent {
  background-color: #FFFAF0;	/* FloralWhite */
  padding: 1em;
  /* min-height: 100vh; */
  min-height: calc(100vh - 134.8px);  /* 68px x 2 */
}

#AllContent::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  /* top: 0; */
  top: 66.8px;
  width: 100%;
  /* height: 100%; */
  height: calc(100vh - 134.8px);
  z-index: 1;
  opacity: .6;
  background-image: url('../img/Ohio River Sunset.jpg');
  background-repeat: no-repeat;
  /* background-position: 50% 0; */
  background-size: cover;
}

/* ---- Page Elements ----
	-	logos, headlines, icons	*/


/* =================================
  Media Queries
==================================== */



/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}
