/* =================================
  Import normalize.css
==================================== */
@import url('http://necolas.github.io/normalize.css/3.0.2/normalize.css');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'); */

/* =================================
  Imported Fonts
==================================== */
@font-face {
  font-family: 'CelticHand';
  src: url('fonts/CelticHand.ttf');
}

/* =================================
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

main h1 {
	font-family: CelticHand, Garamond, serif;
	font-size: 1.6em;
  color: #04387B;
}

main p {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  color: #04387B;
}

a {
  color: FloralWhite;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #FDB47D;
  padding-bottom: .25em;
  border-bottom: 3px solid #FDB47D;
}

img {
  color: FloralWhite;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ----
	-	menus, nav bars*/

/* This corrects a problem with Chrome adding extra margin and padding. */
menu,
ul.main-nav {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.name,
menu {
  display: inline-block;
}

.name {
  font-size: 1em;
  margin-left: .5em;
}

.name a:hover {
	color: #FDB47D;
  padding-bottom: .25em;
  border-bottom: 3px solid #FDB47D;
}

menu {
  position: absolute;
  top: 1.2em;
  right: 1em;
  text-align: right;
}

.main-nav {
  display: none;
  color: FloralWhite;
  list-style-type: none;
  position: absolute;
  right: 0;
  padding: .5em;
  box-shadow: -10px 10px 10px -5px #877E7F;
}

.main-nav li {
  padding: .5em;
  padding-right: 0;
}

#hamburger_menu {
  margin-bottom: .5em;
}

#hamburger_menu span {
  display: block;
  background: FloralWhite;
  width: 20px;
  height: 2px;
  margin: .2em 0;
}

menu:hover .main-nav {
  display: block;
}

/* ---- Layout Containers ----
	-	header, footer, content divs	*/
header {
  background: #04387B;
	color: FloralWhite;
	padding: .5em;
}

main {
  background: url('../img/Ohio%20River%20Sunset%20-%20Faded.jpg') 10%;
  background-color: FloralWhite;
  min-height: calc(100vh - 244px);  /* banner + header + footer */
}

footer {
  background: linear-gradient(to top, #2380D1, #FDB47D);
	color: FloralWhite;
	padding: 1em;
	text-align: center;
}

footer p {
  font-size: .9em;
}

.col {
  display: inline-block;
  padding: .25em 1em;
}

.primary {
  width: 100%;
  text-align: center;
}

/* Page Elements */
.banner {
  background: linear-gradient(#04387B, #877E7F);
  height: 110px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
}

.pic {
  display: block;
  margin: auto;
  border: 3px solid #FDB47D;
  border-radius: 50%;
  height: 100px;
}

.socialMedia a:hover {
  border-bottom: 0;
}

.socialMedia img {
  vertical-align: middle;
  height: 25px;
  margin: .25em;
}

#twitter {
  height: 45px;
}

#email {
  height: 40px;
}


/* =================================
  Media Queries
==================================== */

/* Medium Screens */
@media ( min-width: 500px ) {

  /* Base Elements */
  main h1 {
  	font-size: 2em;
  }

  main p {
    font-size: 1.3em;
  }

  /* Navigation */
  .name {
    font-size: 1.1em;
    margin-left: .5em;
  }

  .main-nav {
    display: inline-block;
    position: relative;
    padding: .5em;
    box-shadow: none;
  }

  .main-nav li {
    font-size: .9em;
    padding: 0 .5em;
    text-transform: uppercase;
  }

  .name,
  menu,
  .main-nav,
  .main-nav li {
    display: inline-block;
    vertical-align: middle;
  }

  #hamburger_menu {
    display: none;
  }

  /* Layout Containers */
  main {
    min-height: calc(100vh - 318px);  /* banner + header + footer */
  }

  .col {
    display: inline-block;
    padding-top: 1.5em;
  }

  /* Page Elements */
  .banner {
    height: 180px;
    padding: 20px;
  }

  .pic {
    height: 140px;
  }

  .socialMedia img {
    height: 30px;
    margin: .25em;
  }

  #twitter {
    height: 50px;
  }

  #email {
    height: 45px;
  }

}

/* Larger Screens */
@media ( min-width: 1000px ) {

  /* Base Elements */
  main h1 {
  	font-size: 2.5em;
  }

  main p {
    font-size: 1.8em;
  }

  /* Navigation */
  .name {
    font-size: 1.25em;
  }

  .main-nav li {
    font-size: 1em;
    padding: 0 1em;
    text-transform: uppercase;
  }

  /* Layout Containers */
  main {
    min-height: calc(100vh - 344px);  /* banner + header + footer */
  }

  .col {
    padding-top: 2em;
  }

  /* Page Elements */
  .banner {
    height: 200px;
    padding: 25px;
  }

  .pic {
    height: 150px;
  }

  .socialMedia img {
    height: 40px;
    margin: .25em;
  }

  #twitter {
    height: 60px;
  }

  #email {
    height: 55px;
  }

}
